

*::-webkit-scrollbar{
  display: none;
}

.base-children {
  width: 100%;
  min-height: 60vh;
  height: auto;
 overflow-y: scroll;
  margin-bottom: 150px;
}

/* Home section  */
.home {
  width: 30%;
  background-color: #98c2ec;
  padding: 5%;
  margin-top: 6%;
  margin-left: 25%;
  box-shadow: 5px 5px 5px 5px rgb(56, 57, 58);
  border-radius: 10px;
  height: auto;
  max-height: 150px; /* Increased height for better display */
  position: relative; /* Required for the file input positioning */
}

.home h2{
  margin-top: -40px;
  text-align: center;
}
.home h3 {
  color: #fff;
  margin-bottom: 10px;
}

.file-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.file-input {
  position: absolute;
  width: 1%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-input-label {
  display: block;
  padding: 10px 20px;
  background: linear-gradient(to right, #38a1db, #7f7fd5);
  color: #fff;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.file-input-label:active {
  background: linear-gradient(to right, #007bb5, #6a5acd);
}

.file-name {
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
 
}

.home-button {
  margin-top: 20px;
  text-align: center;
}

.home-button button {
  background-image: linear-gradient(rgb(89, 91, 250), rgb(248, 73, 248));
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.home-button button:active {
  background-color: rgb(82, 82, 243);
}

/* Navbar section */

.navbar-container{
  display: flex;
  background-image: linear-gradient(to bottom right,rgb(131, 152, 241),rgb(235, 70, 235));
  padding: 0px 20px;
  gap: 25%;
}

.navbar-logo img{
  padding-top: 10px;
    height: 30px;
}
.navbar {
  padding: 15px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: flex-start;
 

}
.navField{
  margin: 0px 30px ;
  font-size: 18px ;
  font-weight: 500;
}
.navbar a:-webkit-any-link{
  text-decoration: none;
  color: aliceblue;
}
.navbar a:-webkit-any-link:hover{
  color:black;
}

/* this is footer section */
 .footer {
  background-color: #f4f4f4;
  padding: 5px 20px;
  color: #333;
  margin-top: -8%;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-logo {
  width: 150px;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav ul li {
  margin-bottom: 10px;
}

.footer-nav ul li a {
  color: #007bff;
  text-decoration: none;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}
