/* profile.css */

.profile-container {
    display: flex;
    margin: 20px; 
    margin-left: 8%;
    gap: 20px; 
}

.profile {
    flex: 1; 
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #bad5fd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
}

.profile-header h1 {
    margin-bottom: 10px;
    color: #333;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-details {
    margin-top: 20px;
    text-align: center;
    color: #666;
}

.profile-details h2 {
    color: #333;
    margin-bottom: 10px;
}

.profile-details p {
    margin-bottom: 8px;
}

.image-file {
    flex: 0 0 500px; 
    max-width: 900px;
    border-left: 5px solid #333;
    padding-left: 20px;
}

.image-file img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #666;
}
.select-btn button{
    padding: 10px 20px;
    margin-left: 300px;
    background-color: rgb(52, 52, 252);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.select-btn button:active{
    background-color: rgb(22, 22, 207);
}
.profile-btn{
    display: flex;
}
.back-btn button{
    padding: 10px 20px;
    margin-left: 10px;
    background-color: rgb(78, 78, 78);
    color: #fff;
    cursor: pointer;
    border-radius: 5px; 
}