.userTask-container{
    padding: 20px 0px;
}
.userTask-button {
    display: flex;
    justify-content: center ;
    gap: 10%;
}
.unasign-btn button{
    padding: 15px 70px;
    background-color: #6488fd;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px rgb(56, 57, 58);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}
.unasign-btn button.active{
    background-color: #1a36d4;
}
.asign-btn button{
    padding: 15px 75px;
   background-color: #6488fd;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px rgb(56, 57, 58);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}
.asign-btn button.active{  
   background-color: #1a36d4;
   
}

.table-data{
    margin-top: 30px;
    margin-left: 8%;
    width: auto;
    max-width: 80%;

}
.table-btn{
    background-color: #1a36d4;
    padding: 10px 25px;
    color: #fff;
    font-size: 15px;
    border-radius: 25%;
    cursor: pointer;
}

.table-btn:active{
background-color: #5079ff;
}
.tss-qbo1l6-MUIDataTableToolbar-actions{
    display: none;
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.tss-1dccma1-MUIDataTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar{
    display: none;
}
.MuiTypography-root.MuiTypography-h6.tss-hj53wm-MUIDataTableToolbar-titleText.css-2ulfj5-MuiTypography-root{
   text-align: center;
   color: #fff;
  
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.tss-tlx3x1-MUIDataTableToolbar-root.css-hyum1k-MuiToolbar-root{
    background-color: #5079ff;
}
.eye-button{
    cursor: pointer;
}
.MuiButtonBase-root.MuiTableSortLabel-root.tss-1ntzg4z-MUIDataTableHeadCell-sortLabelRoot.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root{
display: none;
}